body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#sidebar {
  padding: 1em;
}

#board {
  border: #000000 dashed;
  border-width: 0 2px 2px 0;
  display: inline-grid;
}

.cell {
  align-items: center;
  border: #000000 dashed;
  border-width: 2px 0 0 2px;
  display: flex;
  font-size: 14pt;
  justify-content: space-evenly;
  padding: 8pt;
}

.cell[data-chip]::before, .cell[data-chip]::after {
  color:#000000;
}

.cell[data-chip="red"] {
  background-color: #FF0000;
}

.cell[data-chip="green"] {
  background-color: #008000;
}

.cell[data-chip="red"][data-sequence=true] {
  background: repeating-linear-gradient(
    45deg,
    #FF0000,
    #FF0000 10px,
    #FF000088 10px,
    #FF000088 20px
  );
}

.cell[data-chip="green"][data-sequence=true] {
  background: repeating-linear-gradient(
    45deg,
    #008000,
    #008000 10px,
    #00800088 10px,
    #00800088 20px
  );
}

.cell[data-joker] {
  animation: color-change 5s infinite;
  animation-direction: unset;
}

.cell[data-joker]::before {
  content: "";
}

.cell[data-joker]::after {
  content: "★";
}

.cell[data-joker]:nth-of-type(1),
.cellv[data-joker]:nth-of-type(100) {
  animation-direction: alternate;
}

.cell[data-joker]:nth-of-type(10),
.cell[data-joker]:nth-of-type(91) {
  animation-direction: alternate-reverse;
}

@keyframes color-change {
    0.0000000% { color: #FF0000; }
   16.6666667% { color: #FF8000; }
   33.3333333% { color: #FFFF00; }
   50.0000000% { color: #008000; }
   66.6666667% { color: #0000FF; }
   83.3333333% { color: #3F00FF; }
  100.0000000% { color: #7F00FF; }
}

div[data-suit="hearts"]::before,
div[data-suit="diamonds"]::before {
    color: #FF0000;
}

div[data-suit="spades"]::before,
div[data-suit="clubs"]::before {
    color: #000000;
}

div[data-suit="hearts"]::before {
  content: "♥";
}

div[data-suit="spades"]::before {
  content: "♠";
}

div[data-suit="diamonds"]::before {
  content: "♦";
}

div[data-suit="clubs"]::before {
  content: "♣";
}

div[data-rank="ace"]::after {
  content: "A";
}

div[data-rank="two"]::after {
  content: "2";
}

div[data-rank="three"]::after {
  content: "3";
}

div[data-rank="four"]::after {
  content: "4";
}

div[data-rank="five"]::after {
  content: "5";
}

div[data-rank="six"]::after {
  content: "6";
}

div[data-rank="seven"]::after {
  content: "7";
}

div[data-rank="eight"]::after {
  content: "8";
}

div[data-rank="nine"]::after {
  content: "9";
}

div[data-rank="ten"]::after {
  content: "10";
}

div[data-rank="jack"]::after {
  content: "J";
}

div[data-rank="queen"]::after {
  content: "Q";
}

div[data-rank="king"]::after {
  content: "K";
}

.player {
  padding: 1em;
  position: relative;
}

.player[data-team='red'] {
  background-color: #FF000088;
}

.player[data-team='green'] {
  background-color: #00800088;
}

.player-name {
  font-size: 115%;
  position: absolute;
  width: 15%;
}

#opponent .player-name {
  bottom: 1em;
  right: 0;
  text-align: left;
}

#user .player-name {
  left: 0;
  text-align: right;
}

.hand {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 70%;
}

.card {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px black solid;
  border-radius: 7.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55px;
  padding: 0.5em;
  width: 37px;
}

.card::before, .card::after {
  font-size: 125%;
}

.card-back {
  background: repeating-linear-gradient(
      45deg,
      #606DBC,
      #606DBC 10px,
      #465298 10px,
      #465298 20px
  );
}

.card-suit[data-suit="hearts"],
.card-suit[data-suit="diamonds"] {
    color: #FF0000;
}

.card-suit[data-suit="spades"],
.card-suit[data-suit="clubs"] {
    color: #000000;
}

.card[data-selected=true] {
  box-shadow: 0 0 15px 5px blue;
}

#deck {
  color: #FFFFFF;
  margin: 1em 0 0 0;
}
