.game {
    font-family: 'Inconsolata', monospace;
    margin: 0 auto;
}

.board {
    display: grid;
    justify-content: center;
}

.cell {
    align-items: center;
    border: #000000 dashed;
    border-width: 2px 0 0 2px;
    display: flex;
    font-size: 14pt;
    justify-content: space-evenly;
    padding: 8pt;
}

.cell::before,
.cell::after {
    transition: opacity 200ms;
}

.cell.pulse {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: inset 0 0 0 rgb(181, 207, 255);
    }
    50% {
        box-shadow: inset 0 0 10px 8px rgb(181, 207, 255);
    }
    100% {
        box-shadow: inset 0 0 0 rgb(181, 207, 255);
    }
}

.cell.dimmed::before,
.cell.dimmed::after {
    opacity: 0;
}

.cell:nth-of-type(10n) {
    border-right-width: 2px;
}

.cell:nth-of-type(n + 91) {
    border-bottom-width: 2px;
}

.cell[data-chip]::before,
.cell[data-chip]::after {
    color: #000000;
}

.cell[data-chip="red"] {
    background-color: #FF0000;
}

.cell[data-chip="green"] {
    background-color: #008000;
}

.cell[data-chip="blue"] {
    background-color: #01AAFE;
}

.cell[data-chip="red"][data-sequence=true] {
    background: repeating-linear-gradient( 45deg, #FF0000, #FF0000 10px, #FF000088 10px, #FF000088 20px);
}

.cell[data-chip="green"][data-sequence=true] {
    background: repeating-linear-gradient( 45deg, #008000, #008000 10px, #00800088 10px, #00800088 20px);
}

.cell[data-chip="blue"][data-sequence=true] {
    background: repeating-linear-gradient( 45deg, #01AAFE, #01AAFE 10px, #00689B 10px, #00689B 20px);
}

.cell[data-joker] {
    animation: color-change 5s infinite;
    animation-direction: unset;
}

.cell[data-joker]::after {
    content: "★";
    line-height: 0;
    margin-top: -3px;
    text-align: center;
}

.cell[data-joker]:nth-of-type(1),
.cellv[data-joker]:nth-of-type(100) {
    animation-direction: alternate;
}

.cell[data-joker]:nth-of-type(10),
.cell[data-joker]:nth-of-type(91) {
    animation-direction: alternate-reverse;
}

@keyframes color-change {
    0.0000000% {
        color: #FF0000;
    }
    16.6666667% {
        color: #FF8000;
    }
    33.3333333% {
        color: #FFFF00;
    }
    50.0000000% {
        color: #008000;
    }
    66.6666667% {
        color: #0000FF;
    }
    83.3333333% {
        color: #3F00FF;
    }
    100.0000000% {
        color: #7F00FF;
    }
}

div[data-suit="hearts"]::before,
div[data-suit="diamonds"]::before {
    color: #FF0000;
}

div[data-suit="spades"]::before,
div[data-suit="clubs"]::before {
    color: #000000;
}

div[data-suit="hearts"]::before {
    content: "♥";
}

div[data-suit="spades"]::before {
    content: "♠";
}

div[data-suit="diamonds"]::before {
    content: "♦";
}

div[data-suit="clubs"]::before {
    content: "♣";
}

div[data-rank="ace"]::after {
    content: "A";
}

div[data-rank="two"]::after {
    content: "2";
}

div[data-rank="three"]::after {
    content: "3";
}

div[data-rank="four"]::after {
    content: "4";
}

div[data-rank="five"]::after {
    content: "5";
}

div[data-rank="six"]::after {
    content: "6";
}

div[data-rank="seven"]::after {
    content: "7";
}

div[data-rank="eight"]::after {
    content: "8";
}

div[data-rank="nine"]::after {
    content: "9";
}

div[data-rank="ten"]::after {
    content: "10";
}

div[data-suit="diamonds"][data-rank="jack"]::before,
div[data-suit="clubs"][data-rank="jack"]::before {
    content: "";
}

div[data-suit="diamonds"][data-rank="jack"]::after,
div[data-suit="clubs"][data-rank="jack"]::after {
    content: "🤡";
    font-size: 150%;
}

div[data-suit="hearts"][data-rank="jack"]::before,
div[data-suit="spades"][data-rank="jack"]::before {
    content: "";
}

div[data-suit="hearts"][data-rank="jack"]::after,
div[data-suit="spades"][data-rank="jack"]::after {
    content: "💀";
    font-size: 150%;
}

div[data-rank="queen"]::after {
    content: "Q";
}

div[data-rank="king"]::after {
    content: "K";
}

.player {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.player[data-team='red'] {
    background-color: #FF000088;
}

.player[data-team='green'] {
    background-color: #00800088;
}

.player[data-team='blue'] {
    background-color: #01AAFE;
}

.player-name {
    margin-top: 0.5em;
    text-align: center;
}

.player-name[data-current-player=true] {
    font-weight: bold;
    text-decoration: underline;
}

.hand {
    display: flex;
    justify-content: center;
}

.card {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px black solid;
    border-radius: 7.5%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55px;
    margin: 0.5em;
    padding: 0.5em;
    transition: box-shadow 0.1s, transform 0.1s;
    width: 37px;
}

.card::before,
.card::after {
    font-size: 125%;
}

.card-back {
    background: repeating-linear-gradient( 45deg, #606DBC, #606DBC 10px, #465298 10px, #465298 20px);
}

.card-suit[data-suit="hearts"],
.card-suit[data-suit="diamonds"] {
    color: #FF0000;
}

.card-suit[data-suit="spades"],
.card-suit[data-suit="clubs"] {
    color: #000000;
}

.card[data-selected=true] {
    box-shadow: 0 5px 10px 4px #33333366;
    transform: translateY(-0.5em);
}

.deck {
    color: #FFFFFF;
    margin: 1em 0 0 0;
}

.players {
    display: flex;
}

.players-player {
    display: inline-block;
    flex: 1;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    transition: background-color 250ms ease, color 250ms ease;
    overflow: hidden;
}

.players-player {
    text-overflow: ellipsis;
    text-overflow: '… <';
}

.players-player>* {
    display: inline-block;
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
    white-space: nowrap;
}

.players-player[data-team='red'] {
    color: #FF000088;
}

.players-player[data-team='green'] {
    color: #00800088;
}

.players-player[data-team='blue'] {
    color: #01AAFE88;
}

.players-player[data-current-player='true']::before {
    content: ' > ';
}

.players-player[data-current-player='true']::after {
    content: ' < ';
}

.players-player[data-current-player='true'],
.players-player[data-winner=true] {
    color: inherit;
}

.players-player[data-current-player='true'][data-team='red'],
.players-player[data-winner='true'][data-team='red'] {
    background-color: #FF000088;
}

.players-player[data-current-player='true'][data-team='green'],
.players-player[data-winner='true'][data-team='green'] {
    background-color: #00800088;
}

.players-player[data-current-player='true'][data-team='blue'],
.players-player[data-winner='true'][data-team='blue'] {
    background-color: #01AAFE88;
}

.players-player[data-winner='true']>* {
    max-width: 65%;
    /* Make room for crown emojis */
}

.players-player[data-winner='true']::before {
    content: '👑 ';
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.hand-card {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hand-card kbd {
    margin-top: 0.5em;
}

@media only screen and (max-width: 600px) {
    .hand-card kbd {
        display: none;
    }
}

@media only screen and (max-width: 512px) {
    div[data-suit] {
        font-size: 90%;
    }
    div[data-suit]::before {
        display: none;
    }
    div[data-suit="hearts"] {
        color: #FF0000;
    }
    div[data-suit="spades"] {
        color: #000000;
    }
    div[data-suit="diamonds"] {
        color: #0000FF;
    }
    div[data-suit="clubs"] {
        color: #008000;
    }
    .card {
        height: 30px;
        margin: 0.25em;
        width: 20px;
    }
    .cell {
        border-width: 1px 0 0 1px;
    }
    .cell:nth-of-type(10n) {
        border-right-width: 1px;
    }
    .cell:nth-of-type(n + 91) {
        border-bottom-width: 1px;
    }
    .cell[data-joker]::after {
        font-size: 90%;
    }
    .players {
        flex-direction: column;
        font-size: 80%;
    }
}
