.new-game-submit {
    margin: 1em 0 0 0;
}

.new-game-error {
    color: red;
    display: inline-block;
    margin: 1em 0 0 0;
}

.new-game-opponent {
    display: flex;
    margin: 1em 0 0 0;
    padding-left: 0.5em;
}

.new-game-opponent[data-background-color='red'] {
    background-color: #FF000088;
}

.new-game-opponent[data-background-color='green'] {
    background-color: #00800088;
}

.new-game-opponent[data-background-color='blue'] {
    background-color: #01AAFE;
}

.new-game-game-size {
    display: inline-block;
    width: 60px;
}

.new-game-game-size input[type="radio"] {
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
    width: 0;
}

.new-game-game-size-text {
    border: 1px solid transparent;
    display: inline-block;
    padding: 0.5em;
    text-align: center;
    width: 100%;
}

input:checked+.new-game-game-size-text {
    border-color: #333;
}

.new-game-opponent-type {
    align-self: center;
    display: flex;
    padding: 0 0.5em 0 0;
}

.new-game-board-types {
    padding-top: 1em;
}

.new-game-board-types>* {
    padding-top: 0.5em;
}

.new-game-win-condition {
    padding-top: 1em;
}

.new-game-win-condition-input-container {
    display: inline;
}

.new-game-win-condition-input {
    margin-top: 0.5em;
    text-align: right;
}

.new-game-randomize-order-btn {
    appearance: none;
    background: none;
    border: none;
    color: #0366d6;
    cursor: pointer;
    height: auto;
    margin: 0;
    width: auto;
}

.new-game-randomize-order-btn:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 479px) {
    .new-game-board-types {
        display: flex;
        flex-direction: column;
    }
    .new-game-win-condition-container {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 480px) {
    .new-game-board-types-type {
        padding-left: 1em;
    }
}
