.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 768px;
    padding: 1em;
    width: 65vw;
}

.layout-header {
    align-items: baseline;
    display: flex;
    line-height: 28pt;
    margin: 0;
    margin-bottom: 0.5em;
}

.layout-header-title {
    font-size: 28pt;
    margin: 0;
}

.layout-header-subtitle {
    color: #999;
    font-size: 28pt;
    margin: 0;
    margin-left: 0.25em;
}

.layout-body {
    flex-grow: 1;
}

.layout-footer {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 375px) {
    .layout-footer {
        flex-direction: column;
    }
    .layout-footer>* {
        padding: 0.25em;
    }
}

.layout-footer>* {
    display: inline-block;
    text-align: center;
}

.sign-out-form {
    text-align: right;
    width: 100%;
}

.sign-out-btn {
    background: none;
    border: none;
    color: #777777;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    width: auto;
}

.sign-out-btn:hover {
    background-color: #dddddd;
}

@media only screen and (max-width: 768px) {
    .layout {
        width: 100%;
    }
}
